<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="css/index.css" rel="stylesheet" type="text/css">
    
</head>
<body>  
  <div class="wrapper">
      <div class="form-signin">       
        <h2 class="form-signin-heading">Taiga Metrics</h2>
        <p id="message">To use this extension you must own a upc.edu Google account</p>
        <hr>
        <div class="buttons">
          <div class="google-btn">
            <div class="google-icon-wrapper">
              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
              <p class="btn-text"><a href="/auth/google"><b>Sign in with Google</b></a></p>
          </div>
          <div class="logout">
            <button id="logoutbutton" type="submit">Logout</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
